<div class="row justify-content-center">
	<div class="col-sm-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<i class="fa fa-check"></i>Create Customer Relation
			</div>
			<div class="card-body">
				<form class="needs-validation" name="crmForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="crmForm">
					<fieldset>
						<legend>Customer Information</legend>
						<div class="form-row">
							<div class="col-md-6">
								<!-- <div class="form-group" hidden>
									<label for="id">ID</label>
									<input type="text" class="form-control" id="id" name="id" formControlName="id" />
								</div> -->
								<div class="form-group">
									<label class="form-control-label" for="field_uniqueid">Unique Id</label>
									<input type="text" class="form-control" name="uniqueid" id="field_uniqueid" formControlName="uniqueid" readonly />
								</div>
							</div>
							<div class="col-md-6">
								<!-- <div class="form-group" hidden>
									<label class="form-control-label" for="field_agentId">Agent Id</label>
									<input type="number" class="form-control" name="agentId" id="field_agentId"
										formControlName="agentId" />
								</div> -->
								<div class="form-group">
									<label class="form-control-label" for="field_msisdn">Msisdn<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="msisdn" id="field_msisdn" formControlName="msisdn"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('msisdn').errors,'is-valid': crmForm.get('msisdn').touched && !crmForm.get('msisdn').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('msisdn').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('msisdn').errors.required">msisdn is required</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_contactNo">Contact No<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="contactNo" id="field_contactNo" formControlName="contactNo"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('contactNo').errors,'is-valid': crmForm.get('contactNo').touched && !crmForm.get('contactNo').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('contactNo').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('contactNo')?.errors?.required">
											contactNo is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_nidNumber">Nid Number<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="nidNumber" id="field_nidNumber" formControlName="nidNumber"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('nidNumber').errors,'is-valid': crmForm.get('nidNumber').touched && !crmForm.get('nidNumber').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('nidNumber').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('nidNumber')?.errors?.required">
											nidNumber is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_compliantName">Compliant
										Name<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="compliantName" id="field_compliantName" formControlName="compliantName"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('compliantName').errors,'is-valid': crmForm.get('compliantName').touched && !crmForm.get('compliantName').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('compliantName').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('compliantName')?.errors?.required">
											compliantName is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_email">Email</label>
									<input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
								</div>
							</div>
						</div>


						<div class="form-row">
							<div class="col-md-6">
								<!-- <div class="form-group" hidden>
									<label class="form-control-label" for="field_isHusbandName">Is Husband
										Name</label>
									<input type="checkbox" class="" name="isHusbandName" id="field_isHusbandName"
												 formControlName="isHusbandName" />
									<div
											 *ngIf="crmForm.get('isHusbandName')!.invalid && (crmForm.get('isHusbandName')!.dirty || crmForm.get('isHusbandName')!.touched)">
										<small class="form-text text-danger" *ngIf="crmForm.get('isHusbandName')?.errors?.required">
											This field is required.
										</small>
									</div>
								</div> -->
								<div class="form-group">
									<label class="form-control-label" for="field_fatherName">Father Name</label>
									<input type="text" class="form-control" name="fatherName" id="field_fatherName" formControlName="fatherName"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('fatherName').errors,'is-valid': crmForm.get('fatherName').touched && !crmForm.get('fatherName').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('fatherName').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('fatherName')?.errors?.required">
											fatherName is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_motherName">Mother Name</label>
									<input type="text" class="form-control" name="motherName" id="field_motherName" formControlName="motherName"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('motherName').errors,'is-valid': crmForm.get('motherName').touched && !crmForm.get('motherName').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('motherName').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('motherName')?.errors?.required">
											motherName is required.
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_dob">Date of Brith</label>
									<div class="input-group">
										<input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker formControlName="dob"
													 placeholder="Enter Date of Birth" />
										<span class="input-group-append">
											<!-- <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()">
                                                    <fa-icon icon="calendar-alt"></fa-icon>
                                                </button> -->
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label" for="field_occupation">Occupation</label>
									<input type="text" class="form-control" name="occupation" id="field_occupation" formControlName="occupation"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('occupation').errors,'is-valid': crmForm.get('occupation').touched && !crmForm.get('occupation').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('occupation').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('occupation')?.errors?.required">
											occupation is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="form-control-label" for="field_problemDescription">Problem Description<span class="text-danger">*</span></label>
									<textarea type="text" rows="3" class="form-control" name="problemDescription" id="field_problemDescription"
														formControlName="problemDescription"
														[ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('problemDescription').errors,'is-valid': crmForm.get('problemDescription').touched && !crmForm.get('problemDescription').errors }">
													</textarea>
									<div *ngIf="crmFormSubmitted && crmForm.get('problemDescription').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('problemDescription')?.errors?.required">
											compliantName is required.
										</div>
										<div *ngIf="crmForm.get('problemDescription')?.errors?.maxlength">
											This field cannot be longer than 500 characters.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<app-address-form [crmForm]="crmForm" [crmFormSubmitted]="crmFormSubmitted" FormGrpName="presentAddress">
								</app-address-form>
							</div>
							<div class="col-md-6">
								<app-address-form [crmForm]="crmForm" [crmFormSubmitted]="crmFormSubmitted" [FormGrpName]="'permanentAddress'">
								</app-address-form>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Accused Organization Information</legend>
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="form-control-label" for="field_accusedOrganizationName">Accused
										Organization
										Name<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="accusedOrganizationName" id="field_accusedOrganizationName"
												 formControlName="accusedOrganizationName"
												 [ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('accusedOrganizationName').errors,'is-valid': crmForm.get('accusedOrganizationName').touched && !crmForm.get('accusedOrganizationName').errors }" />
									<div *ngIf="crmFormSubmitted && crmForm.get('accusedOrganizationName').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('accusedOrganizationName')?.errors?.required">
											accusedOrganizationName is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="form-control-label" for="field_accusedOrganizationAddress">Accused Organization Address<span class="text-danger">*</span></label>
									<textarea type="text" rows="3" class="form-control" name="accusedOrganizationAddress" id="field_accusedOrganizationAddress" formControlName="accusedOrganizationAddress"
														[ngClass]="{ 'is-invalid': crmFormSubmitted && crmForm.get('accusedOrganizationAddress').errors,'is-valid': crmForm.get('accusedOrganizationAddress').touched && !crmForm.get('accusedOrganizationAddress').errors }">
																			</textarea>
									<div *ngIf="crmFormSubmitted && crmForm.get('accusedOrganizationAddress').errors" class="invalid-feedback">
										<div *ngIf="crmForm.get('accusedOrganizationAddress')?.errors?.required">
											accusedOrganizationAddress is required.
										</div>
										<div *ngIf="crmForm.get('accusedOrganizationAddress')?.errors?.maxlength">
											This field cannot be longer than 500 characters.
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<div>
						<button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
							<span>Cancel</span>
						</button>

						<button type="submit" id="save-entity" class="btn btn-primary">
							<span>Save</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--/.col-->
</div>
<!-- <div class="form-row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div> -->