<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> Change Password
          <div class="card-header-actions"></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form
                [formGroup]="simpleForm"
                novalidate
                (ngSubmit)="onSubmit()"
                class="needs-validation"
              >
                <div class="form-group">
                  <label class="col-form-label" for="currentPassword"
                    >Old Password</label
                  >

                  <div class="input-group">
                    <input
                      class="form-control"
                      id="currentPassword"
                      [type]="oldFieldTextType ? 'text' : 'password'"
                      formControlName="currentPassword"
                      autocomplete="given-password"
                      required
                      autofocus
                      [ngClass]="{
                        'is-invalid': submitted && f.currentPassword.errors,
                        'is-valid':
                          f.currentPassword.touched && !f.currentPassword.errors
                      }"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i
                          class="fa"
                          [ngClass]="{
                            'fa-eye-slash': !oldFieldTextType,
                            'fa-eye': oldFieldTextType
                          }"
                          (click)="toggleoldFieldTextType()"
                        ></i>
                      </span>
                    </div>
                  </div>

                  <div
                    *ngIf="submitted && f['currentPassword'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['currentPassword'].errors.required">
                      Current Password is required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="newPassword"
                    >New Password</label
                  >
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="newPassword"
                      [type]="newFieldTextType ? 'text' : 'password'"
                      formControlName="newPassword"
                      data-toggele="password"
                      required
                      autofocus
                      [ngClass]="{
                        'is-invalid': submitted && f.newPassword.errors,
                        'is-valid':
                          f.newPassword.touched && !f.newPassword.errors
                      }"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i
                          class="fa"
                          [ngClass]="{
                            'fa-eye-slash': !newFieldTextType,
                            'fa-eye': newFieldTextType
                          }"
                          (click)="togglenewFieldTextType()"
                        ></i>
                      </span>
                    </div>
                  </div>
                  <div
                    *ngIf="submitted && f['newPassword'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['newPassword'].errors.required">
                      New Password is required
                    </div>
                    <div *ngIf="f['newPassword'].errors.minlength">
                      Minimun Length 8 Characters
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="retypedNewPassword"
                    >Re-Type Password</label
                  >
                  <input
                    class="form-control"
                    id="retypedNewPassword"
                    type="password"
                    formControlName="retypedNewPassword"
                    required
                    autofocus
                    [ngClass]="{
                      'is-invalid': submitted && simpleForm.errors,
                      'is-valid': f.retypedNewPassword.touched && !simpleForm.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && simpleForm.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="simpleForm.errors['passwordMismatch']">
                      Password Mismatch
                    </div>
                  </div>
                </div>

                <div
                  class="form-group row"
                  *ngIf="submitted && simpleForm.status == 'INVALID'"
                >
                  <span class="col-form-label text-danger">
                    **Please solve the above validation error then submit.**
                  </span>
                </div>

                <div class="form-group">
                  <button
                    class="btn btn-primary mr-1"
                    type="submit"
                    [disabled]="simpleForm.invalid && submitted"
                  >
                    Submit
                  </button>
                  <button
                    class="btn btn-danger"
                    type="reset"
                    [disabled]="simpleForm.pristine && !submitted"
                    (click)="onReset()"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
