<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Create New User
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="name">Full Name</label>
                      <input
                        class="form-control"
                        id="name"
                        formControlName="name"
                        placeholder="Full Name"
                        autocomplete="given-name"
                        required
                        autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.name.errors,
                          'is-valid': f.name.touched && !f.name.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['name'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['name'].errors.required">
                          Full Name is a required field
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="contactNo"
                        >Contact No</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        [textMask]="{ mask: phoneMask }"
                        id="contactNo"
                        formControlName="contactNo"
                        placeholder="Contact No"
                        autocomplete="given-contactNo"
                        required
                        autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.contactNo.errors,
                          'is-valid': f.contactNo.touched && !f.contactNo.errors
                        }"
                      />
                      <small class="text-muted">ex. 01XXXXXXXXX</small>
                      <div
                        *ngIf="submitted && f['contactNo'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['contactNo'].errors.required">
                          Contact Number is a required field
                        </div>
                        <div *ngIf="f['contactNo'].errors.pattern">
                          Minimun Length is 11 Characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="name"
                        >Email Address</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        id="email"
                        formControlName="email"
                        placeholder="Email Address"
                        autocomplete="given-email"
                        required
                        autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors,
                          'is-valid': f.email.touched && !f.email.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['email'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['email'].errors.required">
                          Email Address is a required field
                        </div>
                        <div *ngIf="f['email'].errors.pattern">
                          Invalid Email Address
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="joiningdate"
                        >Joining Date</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="joiningdate"
                        formControlName="joiningdate"
                        placeholder="DD/MM/YYYY"
                        bsDatepicker
                        [bsConfig]="{
                          isAnimated: true,
                          dateInputFormat: 'DD/MM/YYYY',
                          containerClass: 'theme-dark-blue'
                        }"
                        [maxDate]="maxDate"
                        [ngClass]="{
                          'is-invalid': submitted && f.joiningdate.errors,
                          'is-valid':
                            f.joiningdate.touched && !f.joiningdate.errors
                        }"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="username"
                        >UserName</label
                      >
                      <input
                        class="form-control"
                        id="username"
                        formControlName="username"
                        placeholder="User Name"
                        required
                        autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.username.errors,
                          'is-valid': f.username.touched && !f.username.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f['username'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['username'].errors.required">
                          UserName is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="password"
                        >Password</label
                      >
                      <div class="input-group">
                        <input
                          class="form-control"
                          id="password"
                          [type]="fieldTextType ? 'text' : 'password'"
                          placeholder="Password"
                          formControlName="password"
                          required
                          autofocus
                          [ngClass]="{
                            'is-invalid': submitted && f.password.errors,
                            'is-valid': f.password.touched && !f.password.errors
                          }"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i
                              class="fa"
                              [ngClass]="{
                                'fa-eye-slash': !fieldTextType,
                                'fa-eye': fieldTextType
                              }"
                              (click)="toggleFieldTextType()"
                            ></i>
                          </span>
                        </div>
                        <div
                          *ngIf="submitted && f['password'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['password'].errors.required">
                            Password is a required field
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="submitted && f['password'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f['password'].errors.required">
                          Password is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label" for="isActive"
                        >Active Status</label
                      >
                      <div class="form-check">
                        <label
                          class="col-form-label switch switch-md switch-3d switch-success"
                        >
                          <input
                            type="checkbox"
                            class="switch-input"
                            id="isActive"
                            formControlName="isActive"
                          />
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                      <!-- <input class="form-control" id = "activeStatus" formControlName = "activeStatus" placeholder="Active Status" autocomplete="given-name" required autofocus> -->
                    </div>
                  </div>
                </div>

                <div
                  class="form-group row"
                  *ngIf="submitted && simpleForm.status == 'INVALID'"
                >
                  <span class="col-form-label text-danger">
                    **Please check marked fields and resubmit**
                  </span>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    [disabled]="simpleForm.invalid && submitted"
                    type="submit"
                  >
                    Register
                  </button>
                  <button
                    class="btn btn-danger"
                    [disabled]="simpleForm.invalid && submitted"
                    type="button"
                    (click)="onReset()"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

