<div class ="animated fadeIn">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header ">
                    <i class="icon-note"></i> Change Password
                    <div class="card-header-actions">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                        <div class="form-group">
                            <label class="col-form-label" for="old_password">Old Password</label>
                            <input class="form-control" id="old_password" type="password" formControlName="old_password" autocomplete="given-name" required autofocus [ngClass]="{ 'is-invalid': submitted && f.old_password.errors, 'is-valid': f.old_password.touched && !f.old_password.errors }"
                            />
                            <div *ngIf="submitted && f['old_password'].errors" class="invalid-feedback">
                                <div *ngIf="f['old_password'].errors.required">Old Password is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="new_password">New Password</label>
                            <input class="form-control" id="new_password" type="password" formControlName="new_password" autocomplete="given-name" required autofocus [ngClass]="{ 'is-invalid': submitted && f.new_password.errors, 'is-valid': f.new_password.touched && !f.new_password.errors }"
                            />
                            <div *ngIf="submitted && f['new_password'].errors" class="invalid-feedback">
                                <div *ngIf="f['new_password'].errors.required">New Password is required</div>
                                <div *ngIf="f['new_password'].errors.minlength">Minimun Length 6 Characters</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="re_password">Re-Type Password</label>
                            <input class="form-control" id="re_password" type="password" formControlName="re_password" autocomplete="given-name" required autofocus [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.re_password.touched && !simpleForm.errors }"
                            />
                            <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                                <div *ngIf="simpleForm.errors['passwordMismatch']">Password Mismatch</div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="submitted && simpleForm.status == 'INVALID'">
                            <span class="col-form-label text-danger"> **Please solve the above validation error then submit.** </span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary mr-1" type="submit" [disabled]="simpleForm.invalid && submitted">Submit</button>
                            <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Reset</button>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
