<div class=" animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <app-escalation-details></app-escalation-details>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Update Ticket status</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="field_ticketStatus">Ticket Status</label>
                <select class="form-control" id="field_ticketStatus" name="ticketStatus"
                  (change)="onSelectStatus($event.target.value)" [(ngModel)]="selectedTicketStatus">
                  <option value="" disabled>Select One</option>
                  <option [ngValue]="ticketStatus" *ngFor="let ticketStatus of ticketStatuses">{{ticketStatus.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <app-create-escalation *ngIf="selectedTicketStatus"></app-create-escalation>
        </div>
      </div>
    </div>
  </div>
</div>