<div class="modal-header">
  <h4 class="modal-title">OTP Verification</h4>
  <button type="button" class="close" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div>
          An OTP (One Time Passcode) has been sent to {{ contactNo }}. <br />
          Please enter the OTP in the field below to verify within <span class="text-danger">{{timeLeft}}</span>
          seconds.
        </div>
        <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control" id="OTP_code" formControlName="OTP_code" required [ngClass]="{
                'is-invalid': submitted && f.OTP_code.errors,
                'is-valid': f.OTP_code.touched && !f.OTP_code.errors
              }" />
          </div>
          <div *ngIf="submitted && f['OTP_code'].errors" class="invalid-feedback">
            <div *ngIf="f['OTP_code'].errors.required">
              Please enter the OTP sent to your Contact No. or press resend OTP to
              retry
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary" [disabled]="simpleForm.invalid && submitted" (click)="onSubmit()">
                Validate OTP </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-light  float-right" (click)="resendOTP()"> Resend OTP </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" >Close</button>
</div>